.home {
  --colore-principale: #ffff59;
  --colore-cursore: #ffff59;
}

.uno {
  --colore-principale: #00FF62;
  --colore-cursore: white;
}

.due {
  --colore-principale: #2fd1b1;
  --colore-cursore: white;
}

.tre {
  --colore-principale: #0092FF;
  --colore-cursore: white;
}

.quattro {
  --colore-principale: #ffff59;
  --colore-cursore: white;
}

.colore-uno {
  --colore-principale: #0092FF !important;
}

.colore-due {
  --colore-principale: #fca9e5 !important;
  --colore-riquadro: #cb75b3 !important;
  --colore-cursore: white;
}

.colore-tre {
  --colore-principale: #b5df42 !important;
  --colore-riquadro: #7a9f16 !important;
  --colore-cursore: white;
}

.colore-quattro {
  --colore-principale: #ffd200 !important;
  --colore-riquadro: #e5ab2f !important;
  --colore-cursore: white;
}

.colore-cinque {
  --colore-principale: #FFF650 !important;
  --colore-riquadro: #ffce51 !important;
  --colore-cursore: white;
}

.colore-sei {
  --colore-principale: #ff5252 !important;
  --colore-riquadro: #b33030 !important;
  --colore-cursore: white;
}

.colore-sette {
  --colore-principale: #487797 !important;
  --colore-riquadro: #29506a !important;
  --colore-cursore: white;
}

.colore-otto {
  --colore-principale: #B4ADB5 !important;
  --colore-riquadro: #706F76 !important;
  --colore-cursore: white;
}

body {
  font-family: Helvetica;
  background-color: var(--colore-principale) !important;
  color: white !important;
}

body::-webkit-scrollbar {
  display: none;
}

a:hover {
  text-decoration: none !important;
}

.loading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  z-index: 999;
}
.loading svg {
  height: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fadeIn {
  0% {
    display: block;
    opacity: 1;
  }
  1% {
    display: none;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
.sfondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -99;
  transition: background-color 0.5s;
  background-color: var(--colore-principale);
}
.sfondo figure {
  height: 97vh;
  width: calc(100% - 3vh);
  background-color: #121212;
  background-image: url(../img/disturbo.png);
  background-blend-mode: screen;
  background-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sfondo figure .motion {
  opacity: 0.035;
  background: url(../img/noise.gif) repeat 50%;
  height: 100%;
}

.animazione {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.animazione .contenitore-animazione svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  z-index: -99;
}

@keyframes dash {
  to {
    stroke-dashoffset: -2000;
  }
}
.path {
  animation-name: dash;
  animation-iteration-count: infinite;
  animation-direction: linear;
  stroke-linecap: round;
  stroke-dasharray: 300 5000000;
  stroke-dashoffset: 1000;
  stroke: var(--colore-principale) !important;
  stroke-width: 1px !important;
  animation-duration: 20s;
  fill: transparent;
  transition-duration: 0.5s;
}

@keyframes dash2 {
  to {
    stroke-dashoffset: -8000;
  }
}
.path2 {
  animation-name: dash2;
  stroke-width: 15px !important;
  stroke-dasharray: 1000 50000;
  animation-duration: 2s;
}

@keyframes dashlogo1 {
  to {
    stroke-dashoffset: 100%;
  }
}
@keyframes dashlogo2 {
  to {
    stroke-dashoffset: 100%;
  }
}
.pathlogo1 {
  animation-name: dashlogo1;
  animation-iteration-count: infinite;
  animation-direction: forwards;
  stroke-linecap: round;
  stroke-dasharray: 700 700;
  stroke-dashoffset: 50;
  stroke: #ffff59 !important;
  stroke-width: 4px !important;
  animation-duration: 1s;
  fill: none;
}

.pathlogo2 {
  animation-name: dashlogo2;
  animation-iteration-count: infinite;
  stroke-linecap: round;
  stroke-dasharray: 700 700;
  stroke-dashoffset: 50;
  stroke: #ffff59 !important;
  stroke-width: 4px !important;
  animation-duration: 1s;
  animation-delay: -1.3s;
  animation-direction: reverse;
  fill: none;
}

.linea {
  display: none;
}

h1 {
  font-family: "Bebas Neue";
}

.header {
  overflow: hidden;
}

.content-header {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
  padding-top: 10vh;
}

.container-fluid {
  padding: 20vh !important;
  margin-top: 100vh;
  background-color: var(--colore-principale);
  transition-duration: 0.5s;
  color: #121212;
  font-family: "Roboto Mono", monospace;
}
.container-fluid a {
  color: #121212;
}
.container-fluid a:hover {
  color: #121212;
}

.contenitore-nome {
  position: absolute;
  top: 0;
  width: 100vw;
}
.contenitore-nome .nome {
  position: absolute;
  top: 1vh;
  left: 50%;
  font-size: 19.5vw;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.cnpagina {
  top: 50vh;
  transform: translateY(-50%);
  height: 35vh;
}
.cnpagina .nome {
  font-size: 30vh;
  margin-bottom: 0 !important;
}

.sottotitolo {
  position: absolute;
  top: 40vh;
  width: 65%;
  font-size: 4vh;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: white;
  line-height: 6vh;
}

.s2 {
  right: 0;
}

.professione {
  font-size: 4vh;
  text-align: right;
}

.container-foto {
  text-align: right;
  padding: 0 !important;
}
.container-foto .foto {
  height: 60vh;
}
.container-foto .foto path {
  fill: transparent;
  stroke: var(--colore-principale) !important;
  stroke-width: 2px !important;
  transition-duration: 0.5s;
}
.container-foto .foto circle {
  fill: var(--colore-principale) !important;
  stroke: var(--colore-principale) !important;
  transition-duration: 0.5s;
}

.container-foto-destra {
  text-align: right;
}

.container-codici {
  font-size: 2vh;
  line-height: calc(2.5vh*1.1);
  color: #ffff59;
  font-family: "Roboto Mono", monospace;
  padding: 0 !important;
  padding-top: 1.8vh !important;
}
.container-codici .codici {
  margin-bottom: -0.5vh !important;
}

.hover1 {
  color: #00FF62;
}

.hover2 {
  color: #17dcb4;
}

.hover3 {
  color: #0092FF;
}

.hover4 {
  color: #FFF650;
}

.container-menu {
  margin-top: 10vh;
}
.container-menu .menu {
  font-family: "Bebas Neue";
  font-size: 5vh;
  list-style: none;
  padding: 0;
}
.container-menu .menu li {
  display: inline-block;
  float: left;
  position: relative;
  height: calc(7vh + 1px);
  width: 23vh;
  overflow: hidden;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.container-menu .menu li .sopra {
  transition-duration: 0.5s;
  height: 7vh;
}
.container-menu .menu li:hover .sopra {
  margin-top: -7vh;
}
.container-menu .menu li:hover .sottolineato {
  top: 0;
}
.container-menu .menu li a {
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 14vh;
}
.container-menu .menu li a:hover {
  transition-duration: 0.5s;
}
.container-menu .menu .chisono {
  position: absolute;
  left: 0;
  top: 3vh;
  opacity: 0;
  transform: translateY(0vh);
  transition: trans 0.5s, top 0.5s;
}
.container-menu .menu .curriculum {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3vh;
  opacity: 0;
  transition: opacity 0.5s, top 0.5s;
}
.container-menu .menu .portfolio {
  position: absolute;
  right: 0;
  top: 3vh;
  opacity: 0;
  transition: opacity 0.5s, top 0.5s;
}
.container-menu .menu .sottolineato {
  width: 100%;
  height: 7vh;
  position: absolute;
  top: 7vh;
  z-index: -1;
  left: 0;
  transition-duration: 0.5s;
  color: #121212;
  background-color: var(--colore-principale);
}

.contatti {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Bebas Neue";
  background-color: var(--colore-principale);
  color: #121212;
  transition-duration: 0.5s;
  width: 21vh;
  overflow: hidden;
  z-index: 9;
}
.contatti .ctitolo {
  padding: 2vh 3vh;
  font-size: 4vh;
  margin-bottom: 0 !important;
}
.contatti .ctesto {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 !important;
  width: calc(100vw - 26vh);
  font-size: 3vh;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
.contatti #ctesto1 {
  left: 23vh;
}
.contatti #ctesto2 {
  right: 23vh;
}

.tech-slideshow {
  overflow: hidden;
}

.moverdx, .moversx {
  margin: 0 !important;
  float: left;
  animation: moveSlideshow 4s linear infinite;
}

.moversx {
  animation-direction: reverse;
}

.mover-2 {
  position: absolute;
  left: 23vh;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-100%);
  }
}
html {
  cursor: none;
}
html a {
  cursor: none;
}

#cursor {
  height: 10px;
  width: 10px;
  display: inline-block;
  position: fixed;
  z-index: 999;
  pointer-events: none;
}
#cursor svg {
  position: absolute;
}
#cursor .circle {
  transition: stroke 0.5s;
}

#cursorbig {
  height: 60px;
  width: 60px;
  position: fixed;
  z-index: 999;
  pointer-events: none;
  border-color: #ffff59;
  transition: transform 0.5s;
}
#cursorbig .triangle {
  transition: stroke 0.5s;
}

.hov {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
.triangle {
  stroke: var(--colore-cursore);
  stroke-width: 10px;
  fill: transparent !important;
}

.circle {
  fill: var(--colore-cursore);
}

.cursor-color .circle {
  fill: var(--colore-principale);
}

.cursorbig-color .triangle {
  stroke: var(--colore-principale);
}

.scroll-down {
  position: absolute;
  top: 70vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Roboto Mono", monospace;
  text-transform: lowercase;
}
.scroll-down .vedi {
  font-size: 3.5vh;
  color: white;
  margin-bottom: 2vh;
  transition-duration: 0.5s;
}
.scroll-down svg {
  height: 4vh;
}
.scroll-down svg .freccia {
  fill: transparent;
  stroke: white;
  stroke-width: 10px;
  transition-duration: 0.5s;
}
.scroll-down:hover .vedi {
  color: var(--colore-principale);
}
.scroll-down:hover svg .freccia {
  stroke: var(--colore-principale);
}

.indietro {
  top: 18vh;
}
.indietro .vedi {
  margin-top: 2vh;
}
.indietro svg {
  transform: rotate(180deg);
}

.indietro-progetto {
  top: 9vh;
}

.fascia-progetto:last-child .fascia {
  margin-bottom: 0 !important;
}
.fascia-progetto .fascia {
  margin-bottom: 20vh;
  display: flex;
  align-items: center;
}
.fascia-progetto .fascia .blocco {
  padding: 0 !important;
}
.fascia-progetto .fascia .blocco .img-progetto {
  height: 60vh;
  position: relative;
  margin-bottom: 0 !important;
  overflow: hidden;
  transition: all 0.5s;
}
.fascia-progetto .fascia .blocco .img-progetto img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  padding: 3vh;
  filter: grayscale(100%);
}
.fascia-progetto .fascia .blocco .blocco-content {
  position: relative;
  padding-right: 10vh;
  padding-left: 10vh;
  padding-bottom: 6.2vh;
}
.fascia-progetto .fascia .blocco .blocco-content .eyebrow {
  font-size: 4vh;
  color: white;
  margin-bottom: 4vh !important;
}
.fascia-progetto .fascia .blocco .blocco-content .titolo-progetto {
  font-size: 15vh;
  line-height: 14vh;
  margin-bottom: 4vh !important;
  color: white;
}
.fascia-progetto .fascia .blocco .blocco-content .bottone {
  position: absolute;
  right: 10vh;
  min-width: 28.05vh;
  overflow: hidden;
  height: 6.2vh;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.fascia-progetto .fascia .blocco .blocco-content .bottone .cta {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.5vh;
  padding: 1vh 2vh;
  color: white;
  transition: all 0.5s;
}
.fascia-progetto .fascia .blocco .blocco-content .bottone #cta2 {
  top: 6.2vh;
  background-color: var(--colore-principale);
  color: var(--colore-riquadro);
}
.fascia-progetto .fascia .blocco .blocco-content .bottone:hover #cta1 {
  top: -6.2vh;
}
.fascia-progetto .fascia .blocco .blocco-content .bottone:hover #cta2 {
  top: 0;
}
.fascia-progetto .fascia-destra {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}
.fascia-progetto .fascia-sinistra .blocco .blocco-content .bottone {
  right: calc(100% - 38vh);
}

.questo {
  background-color: var(--colore-riquadro);
  color: white;
  transition: all 0.5s;
}
.questo .filter {
  display: none;
}
.questo img {
  filter: none !important;
}
.questo .eyebrow {
  color: var(--colore-principale) !important;
}

.container-progetto {
  margin-top: 0;
  padding-top: 29vh !important;
  font-family: "Roboto Mono", monospace;
  background-color: var(--colore-riquadro);
  color: white;
}
.container-progetto .destra, .container-progetto .sinistra {
  margin-bottom: 10vh;
}
.container-progetto .destra:last-child, .container-progetto .sinistra:last-child {
  margin-bottom: 0;
}
.container-progetto .destra {
  flex-direction: row-reverse;
}
.container-progetto .progetto-titolo {
  color: white;
  font-size: 15vh;
  margin-bottom: 10vh !important;
}
.container-progetto .progetto-eyebrow {
  font-size: 4vh;
  color: var(--colore-principale);
}
.container-progetto .progetto-img {
  width: 100%;
}
.container-progetto .iframe {
  height: 100vh;
}
.container-progetto .fixed {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: calc(calc(100% - 40vh - 42px) / 12 * 5);
}
.container-progetto .bottom {
  top: 100%;
  transform: translateY(-100%);
}
.container-progetto .pro-container-testo .progetto-sottotitolo {
  color: var(--colore-principale);
  font-size: 5vh;
}
.container-progetto .pro-container-testo .progetto-testo {
  font-size: 3vh;
  margin-bottom: 0 !important;
}

.sticky {
  position: sticky !important;
  top: 50%;
  transform: translateY(-50%);
}

.relative {
  position: relative;
}

.bottone-pro {
  position: absolute;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  text-transform: lowercase;
}
.bottone-pro .vedi {
  font-size: 3vh;
  color: white;
  transition-duration: 0.5s;
  margin-top: 2vh;
}
.bottone-pro svg {
  width: 5vh;
}
.bottone-pro svg .freccia {
  fill: transparent;
  stroke: white;
  stroke-width: 20px;
  transition-duration: 0.5s;
}
.bottone-pro:hover .vedi {
  color: var(--colore-principale);
}
.bottone-pro:hover svg .freccia {
  stroke: var(--colore-principale);
}

.apri {
  right: calc(30px + 5vh);
}
.apri svg {
  transform: rotate(-90deg);
}

.chiudi {
  left: calc(30px + 5vh);
}
.chiudi svg {
  transform: rotate(90deg);
}

.gira {
  left: 50%;
  transform: translateX(-50%);
}
.gira svg {
  height: 5vh;
  width: auto;
}
.gira svg .freccia {
  stroke-width: 10px;
}
.gira .vedi {
  margin-top: 0.4vh;
}

.block {
  display: block;
}

.none {
  display: none;
}

.bottoni {
  height: 13vh;
  padding-top: 2vh;
  background-color: var(--colore-riquadro);
}

.destra, .sinistra {
  margin-bottom: 10vh;
}
.destra:last-child, .sinistra:last-child {
  margin-bottom: 0;
}

.destra {
  flex-direction: row-reverse;
}

.chisono-img {
  width: 100%;
}

.chisono-testo {
  font-size: 4vh;
  margin-bottom: 0 !important;
  color: #121212;
}

.fascia-cv {
  font-size: 2.3vh;
}
.fascia-cv:last-child {
  border-bottom: 2px solid white;
}
.fascia-cv .cv-sopra {
  position: relative;
  margin-bottom: 0 !important;
  border-top: 2px solid white;
}
.fascia-cv .cv-sopra:hover .cv-titolo {
  color: white;
}
.fascia-cv .cv-sopra:hover .lverticale {
  background-color: white;
}
.fascia-cv .cv-sopra:hover .lorizzontale {
  background-color: white;
}
.fascia-cv .cv-sopra .cv-titolo {
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  font-size: 7vh;
  transition-duration: 0.5s;
}
.fascia-cv .lverticale {
  height: 4vh;
  width: 1vh;
  background-color: #121212;
  position: absolute;
  top: 50%;
  right: 3.5vh;
  transform: translateY(-50%);
  transition-duration: 0.5s;
}
.fascia-cv .lorizzontale {
  height: 1vh;
  width: 4vh;
  background-color: #121212;
  position: absolute;
  top: 50%;
  right: 2vh;
  transform: translateY(-50%);
  transition-duration: 0.5s;
}
.fascia-cv .content-cv {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.fascia-cv .content-cv .riga {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 30px);
  transform: translateX(-50%);
  border-bottom: 1px solid white;
}
.fascia-cv .content-cv .riga-cv {
  position: relative;
  margin-bottom: 2vh;
  padding-top: 1vh;
  padding-bottom: 2vh;
}
.fascia-cv .content-cv .riga-cv:last-child {
  margin-bottom: 0;
}
.fascia-cv .content-cv .riga-cv:first-child {
  padding-top: 3vh !important;
  border-top: 2px solid white;
}
.fascia-cv .content-cv .riga-cv .anno {
  font-family: "Bebas Neue";
  font-size: 4.5vh;
  margin-bottom: 2vh;
}
.fascia-cv .content-cv .riga-cv .riga-titolo {
  font-size: 3vh;
  font-weight: 700;
  margin-bottom: 1vh;
}
.fascia-cv .content-cv .riga-cv .riga-testo {
  font-size: 5vh;
  font-weight: 700;
  margin-bottom: 2vh;
  color: white;
}
.fascia-cv .content-cv .riga-cv .testo {
  margin-bottom: 2vh;
}
.fascia-cv .content-cv .riga-cv .testo-elenco {
  margin-bottom: 0vh;
}
.fascia-cv .content-cv .riga-cv .elenco {
  margin-bottom: 2vh;
}
.fascia-cv .content-cv .riga-cv .elenco li {
  text-transform: uppercase;
}
.fascia-cv .content-cv .riga-cv .elenco-acapo {
  margin-bottom: 2vh;
}
.fascia-cv .content-cv .riga-cv .elenco-acapo li {
  margin-bottom: 2vh;
}

.bottone-sito .p-link {
  font-size: 2.5vh;
  color: #121212;
  margin-bottom: 2vh;
  transition: all 0.5s;
  width: 22vh;
}
.bottone-sito .p-link:hover {
  color: white;
}

.attivo .cv-titolo {
  color: white;
}
.attivo .lverticale {
  background-color: white;
}
.attivo .lorizzontale {
  background-color: white;
}
.attivo .lverticale {
  height: 0 !important;
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  z-index: 9999;
  display: none;
}
.mobile .title-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--colore-principale);
  font-family: "Bebas Neue";
  font-size: 5vh;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .mobile {
    display: block;
  }
}
.ab {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.fine .path2 {
  stroke-width: 7px !important;
  stroke-dasharray: 1000 50000;
}

/*# sourceMappingURL=style.css.map */
